<div id="inicio" class="contenedor">
    <div class="ttl">
    </div>
   
</div>
<div class="contenedor">
    <div class="titulo">
        <h1></h1>
    </div>
    <div class="contenido">
        <div class="texto">
            <h2>Viva Tour - Bolivia</h2>
            <p>Viva Tours es una de las agencias pioneras de viajes y turismo que operan en a nivel nacional

                Somos especialistas en excursiones a las regiones de Bolivia, pasando de los LLanos, por los Valles hasta el Altiplano y tenemos vasta experiencia en la organización de viajes tanto nacionales como internacionales. <br>
                
                Nuestro equipo de trabajo se centra en ofrecerle las mejores opciones para su viaje.  Nos sentimos muy orgullosos por la reputación que hemos ganado en todo este tiempo brindándole un servicio experimentado, confiable, honesto y eficiente. <br>
                
                Le invitamos a disfrutar de nuestros servicios para que usted también pueda Experimentar la diferencia de nuestra empresa, disfrute del corazon de Sudamerica, tenga nuevas experiencias.</p>
        </div>
        <div class="imagen">
            <img src="https://i.ibb.co/wQsqY93/Sin-t-tulo-3.png" alt="">
        </div>
       
    </div>
    <div class="contenido">
        <div class="texto txt2">
            <h2>Atractivos turístico en Bolivia</h2>
            <p>
                <b>El Parque Nacional Madidi</b> 
                Considerado por la National Geographic como uno de los lugares imprescindible a visitar en el mundo, es parte del circuito del turismo en Bolivia. Se caracteriza por ser uno de los parques con más biodiversidad, en flora y fauna así como en pisos ecológicos ya que va desde las nieves perpetuas hasta la llanura amazónica y albergando etnias comunitarias en su territorio.
                
                - El Lago Titicaca
                Es el más alto lago navegable del mundo cuna del Imperio Inca, el lago navegable más alto del mundo y el segundo mas grande de Sudamérica. Se trata de un lugar donde se hace turismo en Bolivia cultural y de aventura, donde hay botes y lanchas que navegan sobre esquíes y hay otras construidas de hierbas de totora, llamadas balsas de totora o "totoritas".
                
                - El Parque Nacional Noel Kempff Mercado
                Está localizado en el departamento de Santa Cruz, el 13 de diciembre de 1991 fue declarado Patrimonio de la Humanidad. El paquete para los turista incluye alojamiento y tres comidas por día. Los campamentos Flor de Oro (el principal) y los Fierros cuentan con infraestructura turística.
                - El Salar de Uyuni
                Es la mayor planicie de sal de la tierra, entre otros. Tiene 3.650 metros de altura y es el mayor desierto de sal del mundo que se estima que contiene unos 64 mil millones de toneladas de sal, es uno de los destinos turísticos en Bolivia ofrecidas en las agencias de viajes en un circuito con visitas a los lugares más excepcionales de Uyuni.
                
                - La Paz, la capital más alta del mundo
                La ciudad está encallada entre los 3200 y los 4000 metros de altura. Contiene los principales museos del país, galerías de arte y centros culturales de La Paz, como Museo Costumbrista, Museo de Etnografía y Folklore, Museo del Oro, etc. En La Paz se celebra anualmente el Feria Internacional del Libro, donde participan exponentes de toda la región y de otros países. También las Alasitas, que es un festival tradicional paceño que se inicia cada año el 24 de enero con una duración de menos de un mes.
                En los últimos años se fue fortaleciendo mas el turismo en Bolivia, ofreciendo a los turistas que pasan por los departamentos del país mayores circuitos turísticos con diferentes atractivos naturales.</p>
        </div>
    </div>
</div>
